/*--------------------------header-------------------------*/
header  {
    font-family: 'century gothic', sans-serif;
    color: #FFF;
    font-size: 20px;
    line-height: 35px;
    background-color: rgb(5, 5, 125);
    }
/*----------------------------------------------------------*/
/*----------------------------body--------------------------*/

#wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    }


    body {
        background-color: #fff;
        font-family: 'century gothic', sans-serif;
        color: #0ff;
        font-size: 16px;
        line-height: 20px;
    }


/*---------------headings--------------*/
header.banner  {
    color: #ff0;;
    text-align: center;
    background-image: url('../images/headerimage.png');
    background-size: cover;
    padding: 2%;
    }

.banner-fluid{
    width: 100%;
    max-width: 1000px;
}
/*------------------------------------*/
/*-------------article----------------*/
article {
    padding: 1%;
    margin: 3%;
    background-color: rgb(4, 4, 77);
    border: solid 4px #000;
    color: #a00;
}
